@model IEnumerable<Kuff.Common.DTOs.ProductRelated.ProductPriceDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceWithoutDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceWithDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountInPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDateOfAdding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSummary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductComments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceWithoutDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceWithDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountInPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDateOfAdding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSummary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductComments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
